<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Example Test Suite">
            <directory>tests/Examples</directory>
        </testsuite>
    </testsuites>
</phpunit>